// Colors
$text-color: #868686;
$heading-color: #292f2d;
$bg-light: #f2f1f0;
$bg-dark: #292f2d;
$border-color: #e5e5e5;
$border-color-dark: #313131;
$main-color: #6bc3c9;
$secondary-color: #2f95ef;
$meta-color: #9e9e9e;


// Fonts
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Poppins', sans-serif;


// Navbar
$nav-height: 95px;
$nav-short-height: 60px;